body { background: #a3eed8; margin: 0; font-family: sans-serif; }
.cloud-dashboard { padding: 54px; display: flex; }
.block-payment-0 { color: #4ce239; font-size: 15px; margin-bottom: 5px; }
.block-database-1 { color: #388035; font-size: 21px; margin-bottom: 5px; }
.block-search-2 { color: #e4d356; font-size: 21px; margin-bottom: 5px; }
.block-database-3 { color: #678c15; font-size: 13px; margin-bottom: 5px; }
.block-database-4 { color: #ac0e58; font-size: 19px; margin-bottom: 5px; }
.block-user-5 { color: #62f829; font-size: 19px; margin-bottom: 5px; }
.block-payment-6 { color: #f6c11b; font-size: 14px; margin-bottom: 5px; }